/**
 * Custom CSS rules for Boxsteps
 */

body {
}

a {
}

@media screen and (max-width:769px) {
    .navbar.horizontal-menu .navbar-inner > .nav.navbar-mobile {
        height: 40px;
        padding-top: 10px;
    }
}

@media screen and (max-width:991px) {
    .shortcuts {
        margin-top: 2em;
    }
}

.modal.link-dialog.in {
    z-index: 102;
}

.fc-day.fc-widget-content.fc-sat, .fc-day.fc-widget-content.fc-sun {
    background: repeating-linear-gradient(
        45deg,
        #fafafa,
        #fafafa 20px,
        #f4f4f4 20px,
        #f4f4f4 40px
    );
}

.fc-day.fc-widget-content.fc-today {
    background: none;
}

.login-page {
    background-image: url('../../images/brand/background-login.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 50px;
}

.cbr-replaced .cbr-state span {
    background: url('../../images/ok-white.png') no-repeat center center;
}

.cbr-replaced.cbr-checked .cbr-state span {
    background: url('../../images/ok.png') no-repeat center center;
}

.navbar.horizontal-menu .navbar-inner > .nav > li
.dropdown-menu.messages .dropdown-menu-list li.no-new-messages::after {
    background-color: transparent;
}

.login-page .login-form .form-group label.error {
    color: #cc3f44;
    position: relative;
}

form .form-group.has-error .input-group-addon {
    color: #fff;
}

.form-horizontal .control-label {
    padding-top: 10px;
}

.member-form-inputs .control-label {
    padding-top: 3px;
}

.form-control {
    height: 37px;
}

.action-links form {
    width: 37px;
    float: left;
    margin-right: 5px;
}

.action-links form:last-child {
    margin: 0;
}

.action-links form button {
    width: 37px;
}

.alert.alert-success a {
    color: #fff;
    text-decoration: underline;
}

.help-block.error, .errors-container p {
    color: #cc3f44;
}

.dataTable td {
    vertical-align: middle !important;
}

.alert .close {
    margin-top: 0 !important;
}

.tabs-vertical-env {
    height: 450px;
}

.tabs-vertical-env .nav.tabs-vertical li > a {
    text-align: left;
}
