/**
 *
 * Custom CSS rules for Boxsteps
 *
*/

body {
}

a {
}

@media screen and (max-width:768px) {
    .navbar.horizontal-menu .navbar-inner > .nav.navbar-mobile {
        height: 40px;
        padding-top: 10px;
    }
}

@media screen and (max-width:991px) {
    .shortcuts {
        margin-top: 2em;
    }
}

.fc-day.fc-widget-content.fc-sat, .fc-day.fc-widget-content.fc-sun {
    background: repeating-linear-gradient(
        45deg,
        #fafafa,
        #fafafa 20px,
        #f4f4f4 20px,
        #f4f4f4 40px
    );
}

.fc-day.fc-widget-content.fc-today {
    background: none;
}
